[2017-04-16 09:04] hrishikeshio opened #1 "TypeError: initializer for ctype 'secp256k1_ecdsa_recoverable_signature *' must be a cdata pointer, not str"
Using latest mac os x, coincurve installed using pip in virtualenv. python 2.7.3
[code]

[2017-04-17 10:30] hrishikeshio opened #2 "Secret scalar must be greater than 0 and less than.."
[code]

[2017-04-17 20:09] ofek commented on #1
It appears you were not using the functions correctly, probably because of the poor API. 4.2.0 addresses this https://github.com/ofek/coincurve/commit/aa9bcfb8a9738c5dd14577b20612e2e187681713

[2017-04-17 20:09] #1 closed

[2017-04-17 20:39] ofek commented on #2
Coincurve does not have the same API as secp256k1-py. Therefore, your `privatekey_to_address` is ill-defined. Change it to:

[code]

[2017-04-17 20:39] #2 closed

[2017-04-25 19:52] teran-mckinney opened #3 "FreeBSD Support?"
Hi ofek,

I am not too sure of why this is but pip won't even attempt to fetch coincurve for me.

[code]

Anything else with pip has been fine for me. I'm not too sure if you have an OS restriction set in place that it's seeing.

Where should I go to look into this?

Thank you,
Teran

[2017-04-25 22:07] ofek commented on #3
Can you please try again? I've updated https://github.com/ofek/coincurve#installation

[2017-04-27 16:28] teran-mckinney commented on #3
Thank you!

A bit closer, but not quite:

[code]

I think I have the necessary packages. I wonder if it's invoking make or gmake, probably needs to use gmake.

[2017-04-27 16:33] teran-mckinney commented on #3
Ok, if I clone https://github.com/bitcoin-core/secp256k1 `make` fails as such and `gmake` works. Is this something that needs to be fixed/worked around in secp256k1 or in coincurve?

[2017-04-27 16:51] ofek commented on #3
Can you please tell me the exact commands you used to successfully build libsecp256k1?

[2017-04-27 19:00] teran-mckinney commented on #3
Sure,

[code]

[2017-04-27 19:04] ofek commented on #3
ok ty now what is the output of `python -c "import platform;print(platform.system())"`?

[2017-04-27 19:31] teran-mckinney commented on #3
[code]

[2017-04-27 19:44] ofek commented on #3
Please try now.

[2017-04-28 14:27] teran-mckinney commented on #3
Great! Thank you!

It works fine. I appreciate it.

[2017-04-28 17:45] ofek commented on #3
No problem, enjoy!

[2017-04-28 17:45] #3 closed

[2017-06-01 15:19] ulope opened #4 "Credit previous contributors"
Thanks for taking charge of this library and esp. getting windows support to work!

It would be awesome if you could credit the [original secp256k1-py contributors](https://github.com/ludbb/secp256k1-py/graphs/contributors) (in the readme for example).

[2017-06-01 15:52] ofek commented on #4
Done, thanks!

[2017-06-01 15:52] #4 closed

[2017-07-20 05:14] ofek opened #5 "Limited keyspace"
Validation of user-provided secrets should compare by integer representation. Otherwise, byte strings of a length greater than or less than 32 could cause unexpected results.

[2017-07-20 05:14] #5 closed

[2017-08-09 23:00] gmaxwell opened #6 ""Endomorphism optimization is enabled""
Please don't. This optimization is potentially restricted by patents.  It's experimental for a reason.

[2017-08-10 02:42] #6 closed

[2017-09-13 12:09] gsalgado opened #9 "Generated ECDH key does not match what's generated by pyelliptic"
I'm trying to use coincurve on a P2P client for Ethereum. I'm starting from the pydevp2p code, which uses pyelliptic, and I just found out the ECDH keys generated by coincurve are different from those generated by pyelliptic. I was assuming I could change [this pydevp2p test that ensures the generated ECDH keys match certain static values ](https://github.com/ethereum/pydevp2p/blob/develop/devp2p/

[2017-09-13 13:52] ofek commented on #9
Thanks! I'm looking into this now. Preliminary results look ok (just quick test):

![ct](https://user-images.githubusercontent.com/9677399/30381052-4f659a3e-9869-11e7-9d79-413c2f3534d7.PNG)

[2017-09-13 17:12] ofek commented on #9
@gsalgado Ok, I found out what is happening!

pyelliptic uses an insecure implementation of ECDH whereby it just returns the x coordinate of the derived point. Since there are two points that correspond to every x value, a shared secret is not a 1-1 mapping of public keys (given a specific secret key). libsecp256k1 returns a sha256 of the derived point.

From one of their devs:

[code]

[2017-09-13 17:12] #9 closed

[2017-09-14 07:07] gsalgado commented on #9
@ofek well, maybe I'm missing something but that pydevp2p seems to be checking that the ecdh key generated matches what other crypto libraries generate. In my manual testing, when generating the ecdh with coincurve I cannot authenticate with geth. Also, the ecdh generated by pyca/cryptography matches what the pydevp2p test expects: https://github.com/ethereum/pydevp2p/pull/81

[2017-09-14 07:32] gsalgado commented on #9
And here's the equivalent test for ethereum-cpp: https://github.com/ethereum/cpp-ethereum/blob/develop/test/unittests/libp2p/rlpx.cpp#L427-L429

[2017-09-14 08:40] gsalgado commented on #9
Using the data from a similar test from geth (https://github.com/ethereum/go-ethereum/blob/5c9346/crypto/ecies/ecies_test.go#L456) also fails on coincurve

[2017-09-14 13:20] ofek commented on #9
@gsalgado Yes, the ECDH generated by libsecp256k1 is different than what OpenSSL & others produce. Those others have an inherent malleability that the authors of libsecp256k1 chose to remove. Instead of returning x itself (remember, there can be 2!), they return a sha256 of the compressed point, i.e. sha256([02|03]|x).

[2017-09-14 16:39] gsalgado commented on #9
But geth is using libsecp256k1, no?

[2017-09-14 17:20] ofek commented on #9
@gsalgado Only for some operations it seems. They just do a simple point multiplication for their ECDH https://github.com/ethereum/go-ethereum/blob/5705ad004e01054c6aac173348b74c1097b40ff1/crypto/ecies/ecies.go#L120

[2017-09-14 17:27] ofek commented on #9
https://gist.github.com/fivepiece/7155745fba94fa37ee35293983db635e

[2018-01-03 03:11] zeropoid opened #10 "Unable to install"
How to fix this?
http://prntscr.com/hvdj5h

[2018-01-03 03:26] ofek commented on #10
Try https://github.com/ofek/coincurve#installation

[2018-01-03 03:32] zeropoid commented on #10
it's not working exactly using https://github.com/ofek/coincurve#installation

[2018-01-03 03:35] ofek commented on #10
What command are you using to install?

[2018-01-03 03:36] zeropoid commented on #10
sudo -H pypy -m pip install coincurve

[2018-01-03 03:51] ofek commented on #10
Can you please check if `sudo -H pypy -m pip install https://files.pythonhosted.org/packages/bf/03/45fc216b065a11c142b96a857c40c39265b3c8a7d736d45d7fed5fc5edb6/coincurve-6.0.0-cp35-cp35m-macosx_10_6_intel.whl` works?

[2018-01-03 11:02] zeropoid commented on #10
Nope

[2018-01-03 13:00] zeropoid commented on #10
With your command I am getting: coincurve-6.0.0-cp35-cp35m-macosx_10_6_intel.whl is not a supported wheel on this platform.

[2018-01-03 13:01] zeropoid commented on #10
My platform is: macOS Hight Sierra 10.13.2 (17C88)

[2018-01-05 11:37] josephernest opened #11 "Constant time removed?"
Is there a way @ofek  to remove the "constant time" slowing code from libsecp256k1 and/or coincurve? I'd like to speed up vanity addresses generation.

[2018-01-05 14:40] ofek commented on #11
No.

[2018-01-05 14:40] #11 closed

[2018-01-05 14:58] josephernest commented on #11
Thanks. How should I do this then @ofek ? Use another build of libsecp, which one ?

[2018-01-05 16:47] ofek commented on #11
https://github.com/exploitagency/vanitygen-plus

[2018-01-24 15:59] aneeshvaidya opened #12 "Support for different encodings?"
I don't know if this is in scope for this project, but would it make sense to support different encodings of keys as `pybitcointools` does?

[2018-01-24 16:21] ofek commented on #12
Like this? https://github.com/vbuterin/pybitcointools/blob/aeb0a2bbb8bbfe421432d776c649650eaeb882a5/bitcoin/main.py#L177-L208

[2018-01-24 16:32] aneeshvaidya commented on #12
Yes, but written in an easier to read and maintainable way

[2018-01-24 16:55] ofek commented on #12
I'd prefer to just keep standard formats (hex, der, wif, etc.). Thanks for the suggestion though!

[2018-01-24 16:55] #12 closed

[2018-01-29 00:02] jgraef commented on #10
I have the same issue when building from source. With `CFLAGS=-I$(realpath libsecp256k1/src/) python3 setup.py install` it works. I think somewhere it sets `[...]/libsecp256k1` as include path (gcc flag `-I`) and misses that those headers are actually in `[...]/libsecp256k1/src`.

[2018-01-29 00:55] ofek commented on #10
@jgraef Can you please create a PR?

[2018-01-31 23:31] keyvank opened #13 "Signatures are not compatible with other libraries"
Thank you for this great project!

The verify function sometimes returns False when I pass signatures of other libraries such as [python-ecdsa](https://github.com/warner/python-ecdsa) or [elliptic](https://github.com/indutny/elliptic) in JavaScript.
Another thing is that the sign function doesn't return signatures with more than 71 bytes. (As specified in your documentations and [Bitcoin Wiki](htt

[2018-02-01 01:16] ofek commented on #13
Thanks, I'm glad you like it!

1. probably they are using the insecure form https://github.com/bitcoin-core/secp256k1/blob/c95f6f1360a87bba61622cbaa0eb714c241a5d90/include/secp256k1.h#L426-L467
2. Bitcoin adds an extra byte at the end https://github.com/ofek/bit/blob/89dcd0a8d05b785691b34a9b28dee157ee419bea/bit/transaction.py#L221

[2018-02-01 01:16] #13 closed

[2018-02-01 02:05] ofek commented on #10
https://github.com/bitcoin-core/secp256k1/commit/f54c6c5083307b18224c953cf5870ea7ffce070b broke us I think

@jgraef Can you please try https://github.com/ofek/coincurve/commit/c120e8ccec7a7623d7329773c4e437b8c5dbfbb2 ?

[2018-02-01 16:36] ulope opened #14 "Pin upstream version used"
Currently setup.py points to the master tarball of libsecp256k1. This is ok in most cases because the wheels will only be built once for a specific version, but there are still some cases where wheels either don't work or aren't allowed by policy.

It would be good to make sure these cases also have repeatable builds by pointing to a concrete commit / tag of the upstream library.

[2018-02-01 17:53] ofek commented on #14
Good idea. Would you be interested in simplifying the build script?

[2018-02-01 18:40] ulope commented on #14
What simplification(s) do you have in mind?

[2018-02-01 18:55] ofek commented on #14
Meh, upon further review there's not much we can do. It's just so many LOC to execute 3-4 commands :sob:

I'll pin the version tonight.

[2018-02-01 19:12] zeropoid commented on #10
Okey, looks like I'v temporary solved this issue, by changing relative paths in the file _cffi_build/build.py, but after successful installation, I am facing another looks like related issue.
If now I am trying to lunch some python script using pypy, I am getting this:

![screenshot at feb 01 21-12-25](https://user-images.githubusercontent.com/8404207/35698044-a3d16590-0794-11e8-8885-35cdeefd9907.

[2018-02-01 19:32] ofek commented on #10
Can you please try in a completely fresh env with version `7.0.0` released last night?

[2018-02-03 10:09] ulope commented on #14
Yeah, I felt the same while putting it together :/

Cool, thanks!

[2018-02-12 21:55] hevnsnt opened #15 "basic usage help"
awesome lib, thanks.

[2018-02-12 22:01] zeropoid commented on #10
The same problem persist even in version 7.1.0
![screenshot at feb 13 00-00-56](https://user-images.githubusercontent.com/8404207/36122142-fc4069d2-1050-11e8-91f9-e89d332ac516.png)

[2018-02-12 22:35] #15 closed

[2018-02-12 23:47] ofek commented on #10
@ulope If you have time, can you please take a look at this? It must be an issue with PyPy on macOS.

[2018-02-13 09:25] zeropoid commented on #10
Where exactly... Would you be, so kind and be more specific on this?

[2018-04-18 14:15] wschwab opened #16 "Can't install: cffi issue"
**Error Message:**
`pkg_resources.DistributionNotFound: The 'cffi>=1.3.0' distribution was not found and is required by the application`
**Problem:**
I have `cffi 1.10.0-1`
**Suggestion:**
line 253 in setup.py requires `'cffi>=1.3.0'`. Maybe it thinks 1 < 3 instead of seeing that it's 10 (Or that 1.3>1.10, which it really sort of is.) I wouldn't be sure how to write it to make sure that it's over

[2018-05-15 05:41] ofek commented on #16
Can you please paste the whole output?

[2018-05-15 10:48] wschwab commented on #16
I managed to bypass the problem at some point, though I can't remember how right now. It may have been by deprecating `cffi` to 9.something, and then updating it.

[2018-05-15 13:51] ofek commented on #16
Thanks, please let me know if you remember!

[2018-05-15 13:51] #16 closed

[2018-07-04 01:56] combstraight opened #19 "build wheels for Python 3.7"
Hello,

When I use the command:

python3 -m pip install coincurve,

I get the error:

Command "/Library/Frameworks/Python.framework/Versions/3.7/bin/python3 -u -c "import setuptools, tokenize;__file__='/private/var/folders/jt/_qtff9ts79gg38pn1qf7cjfh0000gn/T/pip-install-0bxfz20t/coincurve/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compi

[2018-07-04 19:42] ofek commented on #19
@combstraight Can you please try now?

[2018-07-04 21:18] combstraight commented on #19
It's installed successfully.  However, when I try to import it, I get the following ImportError:

Traceback (most recent call last):
  File "/Users/yoonsuk/Desktop/python-idex-master/Idex.py", line 1, in <module>
    import coincurve
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/coincurve/__init__.py", line 1, in <module>
    from coincurve.context import GL

[2018-07-05 01:03] ofek commented on #19
@ulope Do you know why that might be happening?

[2018-07-06 00:11] combstraight commented on #19
Hello,

I have ran coincurve successfully on my other computer that is running Python 3.6.5.

Perhaps Python 3.7 is the issue?

[2018-07-15 20:04] KPrasch opened #22 "Installation results in "tests" as a top-level package"
Installation of coincurve with pip (a sub-dependency of nucypher) can append it's own top-level test directory to `sys.path`, causing `import tests` to import the coincurve tests as a package.

see our Issue here:  https://github.com/nucypher/nucypher/issues/364

##### Isolated Coincurve Installation
[code]

Thank you! :snake:

[2018-07-21 14:43] ofek commented on #16
Thank you!

[2018-07-28 18:38] AndreMiras commented on #22
I'm also having this issue with https://github.com/AndreMiras/PyWallet applying https://github.com/ofek/coincurve/pull/23 fixes it, thanks!

[2018-08-20 11:26] roks0n commented on #12
@ofek which method represents the wif format in the [PrivateKey class](https://github.com/ofek/coincurve/blob/master/coincurve/keys.py#L22)?

[2018-08-22 22:28] #19 closed

[2018-09-23 01:31] adlai opened #26 "Name one!"
Please elaborate what "possible future timing attacks" are mitigated by [the separation of Context seed randomization into its own method](https://github.com/ofek/coincurve/blob/91a1c07347028d4ac4b00cbee6d94951fbfca3ff/coincurve/context.py#L22).

[2018-10-11 23:09] GraphicalDot opened #27 "Converting hex keys"
alice_priv = '63f896667523449ebfa5b302aac627eb0289a80b650acb290d70dfbe12ca80c8'
alice_pub = '0375186a31459f98ede30a4afa533e293c0afb38fcbb535d5daff2a74408c7e442'

bob_priv = 'a8c0ed9925ce6dca5453e2f58591bf581df81ca2598e1a0b456629b9d68546c1'
bob_pub = '020c6c19e9154b3a419437afc33ee06859db06c960e8ac8b2b8db33af2c54ad6f6'

alice_coin_priv =  coincurve.PrivateKey.from_hex(alice_priv)

Now,  i want to cr

[2018-10-17 04:18] ghost opened #28 "Undefined reference to `ECDSA_SIG_get0'"
When trying to install the most recent versions of Coincurve, as part of pyethereum, in a docker image (https://hub.docker.com/r/seegno/bitcoind/) and with DockerFile (https://github.com/blockchain-certificates/cert-issuer/blob/master/Dockerfile), I get the following error and log:

[code]

I've tried this from 9.0.0 down to 7.1.0, which 7.1.0 finally ended up working. Now 9.0.0 worked in my virtu

[2018-10-20 14:04] randomshinichi opened #29 "Regenerating PublicKey from signature and message fails"
[code]
The last line fails with
[code]
Which makes no sense, because according to the docs, PrivateKey.signature() returns anything between 68-71 bytes.

[2018-10-21 01:41] randomshinichi commented on #29
My bad, it seems I had to use something called sign_recoverable() instead of sign().

[2018-10-21 01:41] #29 closed

[2018-11-24 16:00] #26 closed

[2018-12-02 00:05] ofek opened #39 "Delete unnecessary dirs/files before building sdist"
so we don't ship things like `autom4te.cache`

[2019-03-25 14:34] Sonixier commented on #10
Same problem on linux.

[2019-05-04 05:56] ofek commented on #28
@AnthonyRonning Hello! Did you happen to figure this out?

[2019-05-06 13:12] AnthonyRonning commented on #28
@ofek no, I left it at 7.1.0.

[2019-05-13 14:39] AdamISZ opened #46 "MacOS build issue with Coincurve 9.0.0"
Seems there is a problem with finding `asn1crypto`, see travis log: https://travis-ci.org/JoinMarket-Org/joinmarket-clientserver/jobs/531818414#L708-L718

[2019-05-13 20:14] AdamISZ commented on #46
I'm going to close this because restarting the travis build "fixed" it :)

[2019-05-13 20:14] #46 closed

[2019-05-13 20:20] ofek commented on #46
😃

[2019-08-05 17:10] nixbitcoin opened #47 "libsecp256k1.dll on a non-Windows system"
I'm getting
[code]
While trying to package coincurve for NixOS. Why would coincurve need a `libsecp256k1.dll` on a non-Windows system?

This is my nix expression currently
[code]

[2019-08-09 16:16] 0x6a73 commented on #10
It seems like the issue is related to secp256k1_ecdh being marked as an experimental module. Some OSes/distros compile that module in, while sometimes don't. In order to enable it during manual compilation of libsecp256k1, you have to add following options while executing ./configure:
` --enable-experimental --enable-module-ecdh`
After compiling it, the problem should disappear.

[2019-08-09 16:23] 0x6a73 opened #48 "Build issue on OpenBSD -current"
Hello. Currently, it's not possible to install coincurve using pip3.7 on an OpenBSD(on -current branch) system with bitcoin-0.18.0 (includes the latest libsecp256k1 with enabled ECDH module) installed. It's worth to note that I had to add `CFLAGS="-I/usr/local/include"` in order to make it detect header files. After running `pip3.7 install --user coincurve`, I get the following output:
[code]

[2019-10-01 07:32] leycec commented on #48
**Gentoo here.** We're drunkenly stumbling over the same exact issue.

For safety, fetching arbitrary tarballs is prohibited during package installation on Gentoo; instead, we leverage the existing system-wide `libsecp256k1` library as a mandatory package dependency installed in a sane manner by our package manager, Portage. *So far so good.*

Unfortunately, `coincurve` appears to expect a non-sta

[2019-10-01 07:37] leycec commented on #48
**Oh, bloody feckballs.** `coincurve` requires an *extremely* recent version of `libsecp256k1`. Specifically, `coincurve` requires a `libsecp256k1` commit at least as recent as [commit b19c000063be11018b4d1a6b0a85871ab9d0bdcf](https://github.com/bitcoin-core/secp256k1/commit/b19c000063be11018b4d1a6b0a85871ab9d0bdcf) from March 31st of this year.

You know... it'd be useful to document non-trivial

[2019-10-01 13:15] ofek commented on #48
@0x6a73 @leycec Hello there! I very much appreciate your willingness to package this library.

Based on your error and https://github.com/ofek/coincurve/pull/33, it looks like the issue is you'll need a version that includes the breaking ECDH change https://github.com/bitcoin-core/secp256k1/commit/c8fbc3c397b547bc64435a9bffb8f989cd23aba0.

[2019-10-01 18:41] olehnikolaiev opened #50 "specification for ECDH function on https://pypi.org/project/coincurve/"
I've just read the specification on your website https://pypi.org/project/coincurve/ and mentioned that the result of this function is `sha256(x)`, where `x` is the first coordinate of elliptic curve's point which corresponds to `my_private_key * other's_party_public_key`. After that I went through the source code of https://github.com/bitcoin-core/secp256k1 which is used in your implementation. B

[2019-10-02 01:27] leycec commented on #48
**Awesomeness.** Thanks for all the intrepid open-sourcery and prompt reply, @ofek. I was *just* in the laborious process of authoring an updated `dev-libs/libsecp256k1` ebuild satisfying `dev-python/coincurve` requirements. And how absurd is it that `libsecp256k1` has yet to package a single stable release despite nearly a decade's worth of commits? <sup>*"Very absurd" is my answer.*</sup>

For p

[2019-10-02 02:22] ofek commented on #48
@leycec Ah I'm glad you're doing this, it makes me very happy! Yeah breaking changes aren't fun haha. Hey, would you mind linking some docs on the Gentoo packaging process? I'm quite intrigued.

@0x6a73 Are you also attempting to package?

[2019-10-03 05:20] leycec commented on #48
**Blammo!** [Gentoo ebuilds for `coincurve` are now live](https://github.com/leycec/raiagent/tree/master/dev-python/coincurve).

Incidentally, you might be curious as to why everybody is suddenly interested in packaging `coincurve`. Let us now reveal the truth:

1. `coincurve` is awesome, so obviously everybody would want to package it. (*This is true.*)
1. `coincurve` is now a mandatory dependenc

[2019-10-03 18:29] 0x6a73 commented on #48
@ofek Thanks for replying. No, I've found out that someone just started working on it. It seems like he's got it working, I think.

[2019-10-03 19:00] ofek commented on #48
Both of you are 🥇

@0x6a73 Whenever you confirm it works, feel free to close this out!

[2019-10-04 17:04] 0x6a73 commented on #48
Oh, sorry. I've just checked out the mailing list archives and it was an other Bitcoin cryptography related python library with the exact same problem. It seems like coincurve needs a few more OpenBSD-specific tweaks. I'll try to make a pull request with required changes in a few minutes.

[2019-10-04 17:08] ofek commented on #48
@0x6a73 Great, thanks!

[2019-10-04 17:18] 0x6a73 commented on #48
Yep, just changing a single line of code was enough to get it working. I'm making a pull request now. Also, it seems like the automake stage needs some env variables to be present such as AUTOMAKE_VERSION and AUTOCONF_VERSION, but these are not usually available by default, so if you don't mind I'll add a small disclaimer about installing on OpenBSD in the README file. Most ports packages automati

[2019-10-06 02:05] ofek commented on #48
Resolved via https://github.com/ofek/coincurve/pull/51 😄

[2019-10-06 02:05] #48 closed

[2019-10-06 02:20] ofek commented on #50
Thanks! Resolved via #49

[2019-10-06 02:20] #50 closed

[2019-10-14 10:27] sagarkaurav opened #53 "Throwing Error in reading openssl generated private key"
**package version**
**coincurve==12.0.0**

** openssl version **
** OpenSSL 1.1.1  11 Sep 2018 **

Openssl command to generate private key
[code]
python script to read the private key
[code]
Error while running the script
[code]

[2019-10-22 05:15] ofek commented on #53
Hello @wbond! I can reproduce this. Can you please take 2 minutes to look at this? I put together the snippet below:

[code]

[2019-10-22 05:16] wbond commented on #53
What version of asn1crypto are you using?

[2019-10-22 05:18] wbond commented on #53
Hmm, `serialization.PrivateFormat.PKCS8` should probably be parsed using `keys.PrivateKeyInfo.load()`. PKCS#8 defines the `PrivateKeyInfo` structure at https://tools.ietf.org/html/rfc5208#page-3.

[2019-10-22 05:27] ofek commented on #53
@wbond That's what I thought (and what the code does now)! Though that does not work for the output of the openssl command @sagarkaurav did

[code]

[2019-10-22 05:30] ofek commented on #53
So for some reason `PrivateKeyInfo` works with how `cryptography` serializes the output, and only `ECPrivateKey` works with how `openssl` serializes the output

I'm quite confused..

[2019-10-22 05:34] wbond commented on #53
So the cryptography code you asked me to look at generated PKCS#8. The output from OpenSSL is not in PKCS#8 format.

See https://lapo.it/asn1js/#MHQCAQEEIMOoxHLon3R21Vcs3hA0njO5GhBldl-bPz762JoLJ4PyoAcGBSuBBAAKoUQDQgAE7zWesCkZrRPH81aKEg_6GSUJCuK_K7OhFY4rD2MJlHzVA4FprYH5R2g3i6wddySR1h-jGscT7GA9xwqrviRf1A for a generic ASN.1 parsing.

From that, it appears OpenSSL is dumping a raw `keys.ECPrivateKey(

[2019-10-22 05:46] ofek commented on #53
Ah that's interesting (oscrypto is awesome btw). Thanks for the quick debugging!!!

@sagarkaurav Thank you for the report! I don't feel very comfortable adding fallback mechanisms, but here's info on converting your current file to proper PKCS#8: https://wiki.openssl.org/index.php/Command_Line_Elliptic_Curve_Operations

[2019-10-22 05:46] #53 closed

[2019-10-22 05:52] wbond commented on #53
The other option you have @ofek is to read the PEM header and look for `EC PRIVATE KEY` to use `keys.ECPrivateKey()` and just plain `PRIVATE KEY` for `keys.PrivateKeyInfo()`.

[2019-10-22 05:59] ofek commented on #53
Oh right, I may do that instead then

[2019-12-17 06:42] borderm opened #57 "The setup_support.py function _find_lib can return false positives"
As the title states, setup_support.py has a function _find_lib which can return false positives, this results in build errors.

I run Arch Linux, a package called [libsecp256k1](https://www.archlinux.org/packages/community/x86_64/libsecp256k1/) exists, however it does not include the ecdh features as they are still experimental. However, the setup.py script will still use the system library to bui

[2019-12-17 07:51] ofek commented on #57
Nice find! Do you have a fix in mind?

[2019-12-17 09:09] borderm commented on #57
An easy solution that will work, if inefficiently, is to just assume no system library exists. I also imagine there's a clever way of checking via cffi, but I'm not familiar with cffi. My solution of choice would be to check if `/usr/include/secp256k1_ecdh.h` exists after confirming the library exists.

I have a patch that should work, except I'm getting two odd errors that I'm fairly certain are

[2019-12-18 00:58] ofek commented on #57
#58

[2019-12-18 00:58] #57 closed

[2020-05-12 22:21] mrx23dot opened #59 "urandom is not best for cryptography"
utils.py / urandom is less secure than import secret

"In particularly, secrets should be used in preference to the default
pseudo-random number generator in the random module, which is designed
for modelling and simulation, not security or cryptography."
https://docs.python.org/3/library/secrets.html

usage:
secrets.token_bytes(16) -> b'\xebr\x17D*t\xae\xd4\xe3S\xb6\xe2\xebP1\x8b'
secrets.token_h

[2020-05-12 23:06] ofek commented on #59
Hello! I think you are confusing urandom with the random module.

https://github.com/python/cpython/blob/a63c61168588937c482435d0432c753de4844c46/Lib/secrets.py#L47

[2020-05-12 23:06] #59 closed

[2020-05-25 15:04] adelapie opened #60 "ECDSA signature verification fails for extreme k and s^{-1} values"
coincurve 13.0.0 fails when verifying a signature where k and s^{-1}
contain extreme values. You can check this with the following test
vectors from Google Wycheproof:

[code]

and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography library (using ecdsa_secp256k1_sha256_test_extreme_k_s_minus_1.json with the test vectors described above).

[2020-05-25 15:07] adelapie opened #61 "ECDSA signature verification fails with large values of r and s"
coincurve 13.0.0 fails when verifying a signature with large values of r
and s. You can check this with the following test
vectors from Google Wycheproof:

[code]

and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography library (ecdsa_secp256k1_sha256_test_large_r_s.json contains the test vectors described above).

[2020-05-25 15:09] adelapie opened #62 "ECDSA signature verification fails when the x coordinate is small"
coincurve 13.0.0 fails when the x coordinate is small. You can check this
with the following teste vectors from Google Wycheproof:
[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 15:11] adelapie opened #63 "ECDSA signature verification fails when the x contains too many trailing 0s"
coincurve 13.0.0 fails when the x coordinate contain too many trailing 0s. You can check this
with the following teste vectors from Google Wycheproof:

[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 15:13] adelapie opened #64 "ECDSA signature verification fails when the x coordinate contains too many trailing 1s"
coincurve 13.0.0 fails when the x coordinate contain too many trailing 0s. You can check this
with the following teste vectors from Google Wycheproof:
[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 15:15] adelapie opened #65 "ECDSA signature verification fails when the y coordinate contains too many trailing 1s"
coincurve 13.0.0 fails when the y coordinate contain too many trailing 0s. You can check this
with the following teste vectors from Google Wycheproof:
[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 15:17] adelapie opened #66 "ECDSA signature verification fails when the y coordinate is small"
coincurve 13.0.0 fails when the y coordinate is small. You can check this
with the following teste vectors from Google Wycheproof:
[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 15:19] adelapie opened #67 "ECDSA signature verification fails when the y coordinate is large"
coincurve 13.0.0 fails when the y coordinate is large. You can check this
with the following teste vectors from Google Wycheproof:

[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 15:21] adelapie opened #68 "ECDSA signature verification fails when u1 == 1"
coincurve 13.0.0 fails when u1 is equal to 1. You can check this
with the following teste vectors from Google Wycheproof:
[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 15:23] adelapie opened #69 "ECDSA signature verification fails when u2 == n - 1"
coincurve 13.0.0 fails when u2 is equal to n - 1. You can check this
with the following teste vectors from Google Wycheproof:
[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 15:25] adelapie opened #70 "ECDSA signature verification fails when r and s^{-1} are too small"
coincurve 13.0.0 fails when r and s^{-1} are too small. You can check this
with the following test vectors from Google Wycheproof:
[code]
and proof of concept:

[code]

where I compare the output of coincurve with the python cryptography
library.

[2020-05-25 16:59] ofek commented on #68
@adelapie Thanks for opening all of these issues!!! Have you found a fix? I'm pretty sure these would be better directed at libsecp256k1 since we are just wrapping that.

cc @gmaxwell @jonasnick @real-or-random Any thoughts?

[2020-05-25 17:44] adelapie commented on #68
They pointed me to the restrictions on ECDSA https://github.com/google/wycheproof/issues/70 I think the issues can be closed then

[2020-05-25 19:25] ofek commented on #68
Okay, thanks again!

[2020-05-25 19:25] #68 closed

[2020-05-25 19:25] ofek commented on #70
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:25] #70 closed

[2020-05-25 19:26] ofek commented on #69
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:26] #69 closed

[2020-05-25 19:26] ofek commented on #67
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:26] #67 closed

[2020-05-25 19:27] ofek commented on #66
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:27] #66 closed

[2020-05-25 19:27] ofek commented on #65
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:27] #65 closed

[2020-05-25 19:27] ofek commented on #64
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:27] #64 closed

[2020-05-25 19:27] ofek commented on #63
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:27] #63 closed

[2020-05-25 19:27] ofek commented on #62
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:27] #62 closed

[2020-05-25 19:28] ofek commented on #60
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:28] #60 closed

[2020-05-25 19:28] ofek commented on #61
https://github.com/ofek/coincurve/issues/68#issuecomment-633665607

[2020-05-25 19:28] #61 closed

[2020-08-24 13:42] Th0rgal commented on #47
I'm facing the same issue.

[2020-09-07 05:21] muexxl opened #71 "import error on RasberryPi 4B"
Dear all,
I would like to use coincurve on my Raspberry Pi4 Model B.

Installation works flawless via `pip install coincurve
`
I also tried not using wheels:
Installation works flawless `pip install coincurve --no-binary :all:
`

But when opening a python interpreter and trying to import the module I get an ImportError:
[code]

System information:

python --version:

/etc/os-release:

sudo sdhw --

[2020-09-07 13:59] ofek commented on #71
Can you try this? https://www.piwheels.org/project/coincurve/

[2020-09-08 11:26] muexxl commented on #71
Hi,
your link does not provide a specific file. So I tried the following two files:

[code]
Produces:
ERROR: coincurve-13.0.0-cp37-cp37m-linux_armv7l.whl is not a supported wheel on this platform.
[code]
Produces:
ERROR: coincurve-13.0.0rc1-cp37-cp37m-linux_armv7l.whl is not a supported wheel on this platform.

I also tried renaming the files to ..cp38.. because of Python 3.8. but this didnt chang

[2020-10-12 13:39] ndalliard commented on #10
Same problem on OpenBSD.

[2020-11-24 07:32] siraben commented on #47
I ran into this issue independently while trying to package [bitcash](https://pypi.org/project/bitcash/) which depends on coincurve.

[2020-11-24 08:32] SuperCipher opened #72 "ModuleNotFoundError: No module named 'coincurve._libsecp256k1'"
After pip install coincurve and I try to import coincurve
<img width="580" alt="Screen Shot 2020-11-23 at 21 57 26" src="https://user-images.githubusercontent.com/6429197/100049790-bb506d80-2e4a-11eb-9097-e83d7f917a2e.png">
environment detail
https://github.com/SuperCipher/coincurve/blob/d0bc945a1ee6e937944257489c33e0bfac83be85/.gitpod.Dockerfile#L1

[2020-12-06 05:08] alphabet5 opened #73 "Pip installation error on MacOS 11 and Python3.9"
[code]

[2020-12-10 14:13] marekyggdrasil opened #75 "Generated shared secret from ECDH does not match one from node.js crypto library"
Hello!

I am working on a Python / Node.js wrapper to communicate with a secure API, which requires to establish ECDH shared key first. For node.js I use `crypto` [library](https://nodejs.org/api/crypto.html#crypto_class_ecdh) and for Python I use your `coincurve` library. The node.js library manages to establish correct shared key with the server but coincurve does not. I collected some fixtures

[2020-12-10 14:29] ofek commented on #75
Hey! Ours prevents malleability by returning `sha256(compressed_public_key)` instead of the x coordinate directly. See https://github.com/ofek/coincurve/issues/9

[2020-12-10 14:35] marekyggdrasil commented on #75
I see! I supposed it is not optional... Would you advise to proceed with manual multiplication of public keys or just perhaps your library is not a good choice for particular scenario?

[2020-12-10 18:30] ofek commented on #75
Check out https://github.com/ethereum/ddht/blob/0e4a91a634da2b3a5ca5d69ad8c374e471a1e221/ddht/handshake_schemes.py#L44-L61

[2020-12-11 05:06] marekyggdrasil commented on #75
Thanks for the example @ofek , based on that I implemented the multiplication. The key from the example is known to be compressed so I can directly convert it to bytes and proceed with multiplication.

[code]

Unfortunately it still outputs

[code]

[2020-12-13 18:47] alphabet5 commented on #73
After updating python3.9 this appears to be resolved.

[code]

[2020-12-13 18:47] #73 closed

[2020-12-16 04:29] marekyggdrasil commented on #75
But solved by @xiaojay ! All that was missing was skipping the first two bytes:

https://github.com/grinfans/grin.py/blob/main/wallet_v3.py#L65

Updated example

[code]

Outputs

[code]

!!!

[2020-12-16 04:29] #75 closed

[2020-12-16 05:47] ofek commented on #75
Awesome!!!

[2020-12-23 14:02] BitcoinTsunami commented on #71
Hi, same problem here :_libsecp256k1.cpython-38-arm-linux-gnueabihf.so: undefined symbol: secp256k1_ecdh
Same OS (fully updated) : Ubuntu 20.04.1 LTS
Python : 3.8.5
ARM architecture : armv7l (Odroid-HC2 board)

[2020-12-24 10:22] BitcoinTsunami commented on #71
The problem is present with 'pip install' but not with 'python setup.py install' on master branch.

[2021-01-04 22:29] Dzianissmit commented on #71
Same problem, Mac os Big sur 11.1, macbook pro M1

[2021-01-18 01:17] ofek commented on #39
I don't see these anymore...

[2021-01-18 01:17] #39 closed

[2021-01-18 01:29] ofek commented on #47
Can someone please give me an easy way to reproduce the error?

[2021-01-18 01:31] ofek commented on #72
Can you show the installation step?

[2021-01-18 01:55] siraben commented on #47
@ofek It involves the package failing failing to find libraries when being built with Nix. To replicate,

Install the Nix package manager, save the following file into `default.nix` in a folder somewhere. Navigate to the folder and run `nix-build`.

[code]

[2021-01-18 16:54] ofek commented on #28
@AnthonyRonning Can you try again with the latest version?

[2021-01-18 16:57] ofek commented on #27
- https://github.com/ofek/coincurve/tree/159954944d49b72601f4cd566a5ba19d647af8d5#coincurveprivatekey
- https://github.com/ofek/coincurve/blob/159954944d49b72601f4cd566a5ba19d647af8d5/tests/test_keys.py#L86-L90

[2021-01-18 16:57] #27 closed

[2021-01-24 09:15] siraben commented on #47
@ofek were you able to replicate the error?

[2021-01-24 23:48] ofek commented on #47
Yup, dunno why yet

[code]

[2021-01-25 01:18] ofek commented on #47
@siraben can you try with 14.0.0?

[2021-01-25 02:17] siraben commented on #47
The expression changes a bit because of the introduction of autoconf and automake, but the error is the same

[code]

[2021-01-25 02:19] ofek commented on #47
Is there a way to build from a local path rather than from PyPI?

[2021-01-25 02:20] siraben commented on #47
Yes, I can change the source to the GitHub repository.

[2021-01-25 02:21] ofek commented on #47
Can you try removing `coincurve/_windows_libsecp256k1.py`?

[2021-01-25 02:28] siraben commented on #47
That worked! Here's the final expression

[code]

[2021-01-25 02:29] siraben commented on #47
There should be some conditional logic so that `_windows_libsecp256k1.py` is not loaded on a non-Windows system.

[2021-01-25 02:30] ofek commented on #47
I don't know why it's happening only on nix

[2021-01-25 02:42] siraben commented on #47
The messages haven't gone all away:

<details>

[code]
</details>

[2021-01-25 02:46] ofek commented on #47
Why is anything happening after `Successfully installed coincurve-14.0.0`?

[2021-01-25 02:48] siraben commented on #47
Nix runs post-installation tasks and checks.

[2021-01-25 02:50] ofek commented on #47
Ah okay. Any recommendations for clearing up those nix warnings?

[2021-01-25 04:12] siraben commented on #47
I'll submit this to Nixpkgs and see if they can be resolved there.

[2021-01-27 11:48] MioYvo opened #89 "Failed to build coincurve"
I try to install `coincurve==14.0.0` in alpine linux in a Docker image
Dockerfile
[code]
Got this:

[code]

[2021-02-12 13:34] ofek commented on #89
@MioYvo Can you please try: https://ofek.dev/coincurve/install/#alpine

[2021-02-18 03:26] MioYvo commented on #89
Thanks for your reply, the image is successfully built (`autoconf` is required)

[2021-02-18 03:26] #89 closed

[2021-02-24 12:04] SuperCipher commented on #72
@ofek
I setup docker with this config
https://github.com/SuperCipher/coincurve/blob/SuperCipher/gitpod-setup/.gitpod.Dockerfile
and run `pip install .` inside coincurve directory.
then I try import coincurve in python.

[2021-02-24 13:56] ofek commented on #72
Can you show the Docker run command?

[2021-02-25 04:56] SuperCipher commented on #72
`docker run -it cdcb8220e8aa /bin/bash`

[2021-03-17 16:21] iceland2k14 opened #92 "Point Addition Performance"
Your library performance is Very good for Scalar Multiplication. But i am trying for **Point Addition** and getting slower speed.

`pub1 = bit.Key.from_int(1)._pk.public_key`
`timeit pub1.combine_keys([pub1, pub1])`
8.81 µs ± 287 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In **comparison**, by using gmpy2 with [https://github.com/iceland2k14/bsgs/blob/main/gmp_ec.py](url)
`timeit

[2021-03-17 16:59] ofek commented on #92
Can you give me a way to test like this:

[code]

[2021-03-18 04:52] iceland2k14 commented on #92
Just to avoid Point Doubling inside, Adding G + 2G, here they are :

[code]

[code]

[2021-04-23 21:23] werdegars opened #93 "why this happen in centos 6 ?"
Python 3.6.6
CentOs 6.10

  ----------------------------------------
# python3.6 -m pip install coincurve
Collecting coincurve
  Using cached coincurve-15.0.0.tar.gz (219 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: cffi>=1.3.0 in /usr/local

[2021-05-20 10:20] youngqqcn opened #94 "configure.ac:407: error: AC_PROG_CC cannot be called after AM_PROG_CC_C_O"
- CentOS 7
- Python3.6.8
- gcc 版本 4.8.5 20150623 (Red Hat 4.8.5-44) (GCC)
- automake:  1.13.4
- autoconf: 2.69

[code]

[2021-05-20 10:43] youngqqcn commented on #94
I upgraded `autoconf` to `2.71`  and upgrade `automake` to ` 1.16.2`, then I successfully installed `coincurve` .

upgrade automake and autoconf on CentOS7:

[2021-05-20 10:43] #94 closed

[2021-05-20 11:02] youngqqcn commented on #94
wget https://ftp.gnu.org/gnu/autoconf/autoconf-latest.tar.gz
wget https://ftp.gnu.org/gnu/automake/automake-1.16.2.tar.gz
tar xzf autoconf-latest.tar.gz
tar xzf automake-1.16.2.tar.gz
cd autoconf-2.71
./configure --prefix=/usr
make && make install
cd ..
cd automake-1.16.2
./configure --prefix=/usr
make && make install

[2021-05-20 13:03] ofek commented on #94
Thanks!

[2021-05-27 07:04] devturi opened #95 "f strings not supported on python 2. Cant install with pip2"
I have tried to install it but I am getting the following syntax error.

Collecting coincurve
  Using cached https://files.pythonhosted.org/packages/65/31/9f13921cc7ca27059af4def1a9d1277a6a252dea967b62f9ea05cc2a4115/coincurve-15.0.0.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "c:\use

[2021-05-27 12:30] ofek commented on #95
https://ofek.dev/coincurve/history/#1500

[2021-05-27 17:54] #95 closed

[2021-05-28 07:21] instagibbs commented on #10
Same issue in OSX for 15.0.0, 13.0.0 worked fine

[2021-06-09 14:22] eric-downes opened #96 "instance method `pubkey.combine` ignores self, is same as class method `PublicKey.combine_keys`"
The following assert fails for elliptic curve point addition:
[code]

In fact, in the above `shouldbe_pk_ab == pk_b` holds.  This can be seen by examining `pk_b.point()` etc.  This is because the [relevant loop](https://github.com/ofek/coincurve/blob/0bb42ce2d97e7ded8181b10e6a96122865c9854f/coincurve/keys.py#L473) in `combine` is the same as in the class method [combine_keys](https://github.com/of

[2021-06-25 20:01] maxirodr opened #97 "Error installing with python3.6.9"
Hello there!

root@scan:/leveldb-1.20/include# pip3 install coincurve
Collecting coincurve
  Using cached https://files.pythonhosted.org/packages/65/31/9f13921cc7ca27059af4def1a9d1277a6a252dea967b62f9ea05cc2a4115/coincurve-15.0.0.tar.gz
Requirement already satisfied: asn1crypto in /usr/lib/python3/dist-packages (from coincurve)
Requirement already satisfied: cffi>=1.3.0 in /usr/local/lib/python3.6

[2021-06-25 20:07] maxirodr commented on #97
Done. I've tried in fresh ubuntu 18.xx VPS and i found i didn't have the requirements:

https://pypi.org/project/coincurve/5.0.0/#installation

    build-essential
    automake
    pkg-config
    libtool
    libffi-dev
    libgmp-dev

after install them, i tried again and works OK.

[2021-06-25 20:07] #97 closed

[2021-07-24 16:30] #96 closed

[2021-07-24 18:13] ofek commented on #96
Thank you!!! Fixed: https://pypi.org/project/coincurve/15.0.1/

[2021-08-08 17:26] sigkill commented on #93
Facing same issue on Centos 7, looking into it, there appears to be a failure related to autogen.sh in the temporary dir that pip sets up.

[2021-08-08 17:26] sigkill commented on #93
You probably will face same error output of:

`/var/volatile/tmp/test/libsecp256k1# ./autogen.sh
configure.ac:407: error: AC_PROG_CC cannot be called after AM_PROG_CC_C_O
build-aux/m4/ax_prog_cc_for_build.m4:38: AX_PROG_CC_FOR_BUILD is expanded from...
configure.ac:407: the top level
autom4te: /usr/bin/env failed with exit status: 1
aclocal: /usr/bin/autom4te failed with exit status: 1
autoreconf:

[2021-08-08 17:49] ofek commented on #93
Hmm, any idea why?

[2021-08-08 17:53] sigkill commented on #93
Not sure, but I was able to run the build script from https://github.com/spesmilo/electrum just now and successfully built libsecp256k1.so.0

The script that was able to produce a working build is in contrib/make_libsecp256k1.sh in the https://github.com/spesmilo/electrum repo. The files built, but I'm having to move them by hand. No idea if this will fix the issue, but I'm going to try and instal

[2021-08-08 19:18] sigkill commented on #93
When I attempt to build coincurve from autogen.sh:

`running build_clib
downloading libsecp256k1 source code
configure.ac:407: error: AC_PROG_CC cannot be called after AM_PROG_CC_C_O
build-aux/m4/ax_prog_cc_for_build.m4:38: AX_PROG_CC_FOR_BUILD is expanded from...
configure.ac:407: the top level
autom4te: /usr/bin/env failed with exit status: 1
aclocal: /usr/bin/autom4te failed with exit status: 1

[2021-08-08 19:56] sigkill commented on #93
I've set the ENV variables as follows:

`
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/micNfs/tools/tmp/electrum/contrib/secp256k1/dist/lib"
export LIBDIR="$LIBDIR:/micNfs/tools/tmp/electrum/contrib/secp256k1/dist/lib"
echo /micNfs/tools/tmp/electrum/contrib/secp256k1/dist/lib  >> /etc/ld.so.conf
`

(Building on an Intel Xeon Phi 5110p)

Manually copied to:
`
./include/secp256k1.h
./include/secp256k1

[2021-08-08 20:14] sigkill commented on #93
Interesting ... If you could do the same on your Centos 6 system - and preserve the files that get generated by `python3.6 -m pip install coincurve` you might be able to get some additional details from the autogen.sh output that gets run.

I saved my cached copy, there may be a flag for that...

`pip --verbose install coincurve` also might provide more info to what is failing.

[2021-08-08 20:16] sigkill commented on #93
from verbose output - the location pip attempts the install will be after the `--prefix` flag:

`--prefix /var/volatile/tmp/pip-build-env-skxkqr4l/overlay` on my most recent failure. 😆

[2021-08-08 20:56] sigkill commented on #93
Here are the flags from the "working" libsecp256k1 compile:

`./configure --prefix=/micNfs/tools/tmp/electrum/contrib/secp256k1/dist --enable-module-recovery --enable-experimental --enable-module-ecdh --disable-benchmark --disable-tests --disable-exhaustive-tests --disable-static --enable-shared`

[2021-08-08 20:59] sigkill commented on #93
the flags in coincurve from pip are:
`
        cmd = [
            absolute('libsecp256k1/configure'),
            '--disable-shared',
            '--enable-static',
            '--disable-dependency-tracking',
            '--with-pic',
            '--enable-module-recovery',
            '--prefix',
            os.path.abspath(self.build_clib),
            '--enable-experimental',
            '--e

[2021-08-08 21:37] sigkill commented on #93
After hacking on it for some time, I have no idea if it's going to be stable, but I was able to build a weird version for my cpu on Centos 7:

`
root@heater-mic0:/var/volatile/tmp/test3# export CFLAGS="-m64"
root@heater-mic0:/var/volatile/tmp/test3# python setup.py
Traceback (most recent call last):
  File "setup.py", line 15, in <module>
    from setuptools import Distribution as _Distribution, s

[2021-08-18 02:36] taylorgag opened #100 "pip3 install coincurve"
Sorry to bother you, when I use the command **pip3 install coincurve**,its outputs are :
pip3 install coincurve
Collecting coincurve
  Using cached https://files.pythonhosted.org/packages/49/62/742ea42846d4250c9e3503e791b2906ede13d51fae09076802d9e96f466c/coincurve-15.0.1.tar.gz
Collecting asn1crypto (from coincurve)
  Using cached https://files.pythonhosted.org/packages/b5/a8/56be92dcd4a5bf1998705

[2021-08-18 02:49] taylorgag commented on #100
Well, actually, I upgrade the version of pip3  and it works.

[2021-08-18 13:29] ofek commented on #100
I'm glad it's working for you now

[2021-08-18 13:29] #100 closed

[2021-08-30 18:06] devos50 opened #101 "Accessing scalars from Python code"
I'm currently trying to write a few Python bindings around the [FROST algorithm](https://github.com/ElementsProject/secp256k1-zkp/pull/138). To get this up and running, I need to call the `secp256k1_scalar_chacha20` function, which signature seems to be defined [here](https://github.com/ElementsProject/secp256k1-zkp/blob/6db00f5b2e0986add852fa808ab485a25a9278f7/src/scalar.h#L109). The problem, how

[2021-11-24 04:40] peter-rs opened #105 "Fails with PyInstaller"
`File "cffi\api.py", line 150, in dlopen
File "cffi\api.py", line 832, in _make_ffi_library
File "cffi\api.py", line 827, in _load_backend_lib
OSError: cannot load library 'C:\Users\peter\AppData\Local\Temp\_MEI168362\coincurve\libsecp256k1.dll': error 0x7e.  Additionally, ctypes.util.find_library() did not manage to locate a library called 'C:\\Users\\pebu\\AppData\\Local\\Temp\\_MEI168362\\coinc

[2021-11-28 16:52] xloem commented on #71
I investigated this issue a little.  It appears to be a bug in distutils.  It was difficult to investigate, so I haven't followed through properly on the issues yet.

The bug is that linker flags (`-L` and `-l`) should be passed to `gcc` (and `collect2`) _after_ the output (`-o` flag) is passed.  distutils does not always do this.

Notably, distutils is deprecated, so this is likely a bug in coinc

[2021-11-28 18:00] ofek commented on #71
Thanks!

Interesting, can you explain a bit what that might entail?

[2021-11-28 21:51] xloem commented on #71
For example, there could be a build a step after configure is run in `build_clib` in setup.py, that renames, copies, or symlinks the "libsecp256k1.a" to e.g. "libcoincurvesecp256k1.a", and then the new name would be passed to cffi at the bottom of `_cffi_build/build.py`.

Somebody more familiar with part of this infrastructure than I am might know a cleaner solution.  Sorry if my spazzy pursuit of

[2021-11-30 02:15] sometato opened #106 "No Python 3.10 wheels"
Hi Ofek!

It looks like there's no Python 3.10 wheels. In Docker with the python:3.9-slim image, I can `pip install coincurve` just fine. However, with `python:3.10-slim` it tries to compile and fails. `python:3.10` works fine as it has a C compiler.

Would it be possible to release Python 3.10 wheels for coincurve?

Thank you!

[2021-11-30 02:51] ofek commented on #106
Sure, I'll do it this weekend!

[2021-12-06 14:31] ofek commented on #106
https://pypi.org/project/coincurve/16.0.0/

[2021-12-07 23:47] sometato commented on #106
Awesome! Thank you so much!

[2021-12-07 23:47] #106 closed

[2021-12-19 23:25] robd003 opened #108 "Import fails on macOS 12 arm64 with Python 3.10"
For some reason python claims it can't find the function **_secp256k1_nonce_function_default** in the coincurve/_libsecp256k1.cpython-310-darwin.so library... However a dump from nm shows that it's available.

Error from python:
[code]

nm dump of coincurve/_libsecp256k1.cpython-310-darwin.so:
[code]

If anyone could help me figure out **why** python can't find a function that's plainly available

[2021-12-19 23:56] robd003 commented on #108
Manually trying to load the _libsecp256k1 library returns this error:

[code]

[2021-12-21 16:34] robd003 commented on #108
@ofek any chance you know whats going on here?

[2021-12-21 17:09] ofek commented on #108
Did you build from source?

[2021-12-22 00:26] robd003 commented on #108
@ofek Yes

[2021-12-22 00:39] robd003 commented on #108
This was from installing from the macOS Python 3.10 arm64 wheel.

Interestingly when building from source this is the results from nm on the library:

[code]

[2021-12-22 06:41] ofek commented on #108
Oh, so building from source worked the second time?

[2022-01-02 19:04] gitzhou commented on #108
Python 3.8.9 on Mac 12.1 (21C52) got the same error

[code]

[2022-01-08 20:57] ChristianOConnor commented on #108
I've had the exact same problem. My terminal output is exactly the same as OP's. How do I fix this? I'm trying to use "ofek/bit" and I get the same error on coincurve. P.S. I have a 2021 MacBook M1 Pro.

[2022-01-09 13:46] ofek commented on #108
Can you try one of the macOS wheels in the artifacts at the bottom of this page? https://github.com/ofek/coincurve/actions/runs/1673052877

[2022-01-09 15:02] gitzhou commented on #108
Hi ofek, I did some personal tests.
When signing with coincurve, for message m1, it will use ephemeral private key k1 without changing, but for message m2, it will use k2. m1 ≠ m2 then k1 ≠ k2
fyi

[2022-01-09 23:17] ChristianOConnor commented on #108
Still didn't work.

I downloaded the "artifacts" zip from this link "https://github.com/ofek/coincurve/suites/4874293850/artifacts/139214397". It was on the page that you linked me.

I created a whole new virtualenv. Then I tried `pip install path/to/file/coincurve-16.0.0-cp310-cp310-macosx_11_0_arm64.whl` which worked, then I did `pip install bit` which also worked because the `coincurve` depende

[2022-01-28 20:40] dwjorgeb commented on #108
did you manage to fix for this issue? I'm having the same issue @ChristianOConnor

[2022-01-28 21:27] ChristianOConnor commented on #108
I had to use a much older version of python (I think I went with python 3.7) and an older version of coincurve. I think I used coincurve 13 with `pip install coincurve==13.0.0`. The older versions of coincurve don't use `libsecp256k1` which seems to not work on M1 macs.

[2022-01-29 18:18] ofek commented on #108
I think I fixed the cross-compiling. Can you try? https://github.com/ofek/coincurve/suites/5108282013/artifacts/153027466

[2022-01-29 22:27] robd003 commented on #108
Taking a look now @ofek

[2022-01-29 22:31] robd003 commented on #108
@ofek I was able to load and import coincurve-16.0.0-cp310-cp310-macosx_11_0_arm64.whl just fine on macOS 12 and Python 3.10

Can you push these wheels to PyPi?

[2022-01-30 05:47] ofek commented on #108
Fixed! https://pypi.org/project/coincurve/17.0.0/

[2022-01-30 05:47] #108 closed

[2022-01-30 14:02] robd003 commented on #108
Thanks @ofek you rock!

[2022-02-02 04:52] gitzhou opened #110 "Deterministic signatures as specified by RFC 6979"
Hi Ofek, this might be not an issue, just wanna get a confirmation.

As described in features, coincurve supports [RFC6979](https://datatracker.ietf.org/doc/html/rfc6979) **Deterministic signatures**.

I've read the document, and following [section 3.2,](https://datatracker.ietf.org/doc/html/rfc6979#section-3.2) implemented a python [demo](https://gist.github.com/gitzhou/87ae44da4d8681c5da7272152f

[2022-02-05 11:31] gurukamath commented on #10
Is there any work-around here? I am facing the same issue on macOS Monterey with Apple M1

[2022-03-31 05:32] gurukamath opened #111 "15.0.1 wheel file for MacOS ARM64"
Would it be possible to make a wheel available file for ARM64 for the version 15.0.1?
I am working on a project where this version is being used and the code does not seem to be compatible with v17.0.0 or 16.0.0

[2022-03-31 06:50] ofek commented on #111
Describe incompatibility?

[2022-03-31 08:11] gurukamath commented on #111
I get the following error.
I have

Python 3.8.9
coincurve 16.0.0

`
.tox/py3/lib/python3.8/site-packages/ethereum/crypto/elliptic_curve.py:8: in <module>
    import coincurve
.tox/py3/lib/python3.8/site-packages/coincurve/__init__.py:1: in <module>
    from coincurve.context import GLOBAL_CONTEXT, Context
.tox/py3/lib/python3.8/site-packages/coincurve/context.py:4: in <module>
    from coincurve.f

[2022-04-03 00:27] ofek commented on #111
v17.0.0 too?

[2022-04-05 04:25] gurukamath commented on #111
@ofek I see now that with v17.0.0, it works fine. Thank you.

[2022-04-05 04:25] #111 closed

[2022-07-27 06:07] kigawas opened #112 "Add __all__ in __init__.py"
Like this:

[code]

[2022-08-04 13:06] #112 closed

[2022-10-25 11:21] darosior opened #114 "x-only (BIP340) public keys support"
It would be useful for coincurve to upgrade to latest secp256k1 and get support for x-only public keys (along with tweaking etc) for usage with Taproot.

I'm looking into working on this but i'm not familiar with the internals of the library, and it looks like the change would be a bit invasive since a lot of the existing APIs would have to be noted to only work with non-BIP340 public keys.

Have

[2022-11-12 19:06] #114 closed

[2022-11-20 10:25] RamirezAlex commented on #10
Is there any progress on this? I am having this issue with Apple Silicon M1

[2022-11-23 02:14] hhartzer opened #119 "17.0.0 -> 18.0.0: coincurve/_libsecp256k1.cpython-39.so: Undefined symbol "secp256k1_schnorrsig_sign32""
Hi!

I'm not sure if coincurve can use libsecp256k1 libraries on the system or not, but after upgrading from coincurve 17.0.0 to 18.0.0, I'm seeing this error when I `import coincurve`:

`coincurve/_libsecp256k1.cpython-39.so: Undefined symbol "secp256k1_schnorrsig_sign32"`

I am not sure if this is worth working around or not, but others may run into the same.

I am on FreeBSD 12 and have had thi

[2022-11-23 02:17] ofek commented on #119
How did you install?

[2022-11-23 02:18] hhartzer commented on #119
[code]

Also did that with 3.10. Initially, I noticed it while using Pipenv.

[2022-11-23 02:22] ofek commented on #119
[code]

[2022-11-23 02:26] ofek commented on #119
Try `COINCURVE_IGNORE_SYSTEM_LIB` https://ofek.dev/coincurve/install/#source

[2022-11-23 02:30] hhartzer commented on #119
Good suggestion. It did not work for me, though.

[code]

[2022-11-23 02:55] ofek commented on #119
add `--ignore-installed`?

[2022-11-23 03:01] hhartzer commented on #119
Same error with `--ignore-installed`.

[2022-11-27 13:53] caryoscelus opened #120 "one of coincurve users, ZeroNet, is dead and now is developed in multiple forks"
please update the readme so as not to point to dead (and vulnerable) project site. upon ZeroNet death, a few forks have emerged, with two of them surviving to this day. as one of the forks maintainers, i don't want to influence your decision on which or whether even both forks to link, so i'll just drop links here for your consideration:

- https://github.com/zeronet-conservancy/zeronet-conservanc

[2022-11-27 16:28] ofek commented on #120
thanks!

[2022-11-27 16:51] #120 closed

[2022-11-27 19:42] ofek commented on #119
cc @darosior

[2022-11-27 21:57] darosior commented on #119
I can't manage to reproduce it on a Debian system under various conditions. I've skimmed the libsecp sources (that i'm not familiar with) looking for BSD-specific exceptions and couldn't find any.